html {
    font: 100% "Roboto", Verdana, sans-serif;
}

body {

    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    overflow-x: hidden;

}

#demo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
}

h1 {
    font-size: 96px;
    font-weight: 100;
    color: white;
    text-align: center;
    transition: all 0.7ms ease;
}


.info{
    position: fixed;
    bottom: 0;
    padding: 10px;
    font-size: 10px;
    text-align: left;
    width: 100%;
}



@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
