<div class="container">
<form>
    <h1>Material Design formular</h1>
    <div class="form-group">
        <select>
            <option>Value 1</option>
            <option>Value 2</option>
        </select>
        <label  class="control-label">Selectbox</label><i class="bar"></i>
    </div>
    <div class="form-group">
        <input type="text" required="required"/>
        <label  class="control-label">Textfield</label><i class="bar"></i>
    </div>
    <div class="form-group">
        <textarea required="required"></textarea>
        <label  class="control-label">Textarea</label><i class="bar"></i>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked="checked"/><i class="helper"></i>I'm the label from a checkbox
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"/><i class="helper"></i>I'm the label from a checkbox
        </label>
    </div>
    <div class="form-radio">
        <div class="radio">
            <label>
                <input type="radio" name="radio" checked="checked"/><i class="helper"></i>I'm the label from a radio button
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="radio"/><i class="helper"></i>I'm the label from a radio button
            </label>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"/><i class="helper"></i>I'm the label from a checkbox
        </label>
    </div>
</form>
<div class="button-container">
    <button type="button" class="button"><span>Submit</span></button>
</div>
</div>